<md-toolbar color="primary">
    <md-toolbar-row>
      <i class="material-icons" style="font-size:36px;">playlist_play</i>
        <fieldset>
            <label for="genreSelect">Genre:</label>
            <select id="genreSelect" class="selectpicker show-tick" data-style="btn-primary" style="background: #5cb85c; color: #fff;">
                <option>1</option>
                <option>1sdgfasdgasdgag2</option>
                <option>1sdgfasdgasdgag3</option>
                <option>1sdgfasdgasdgag</option>
                <option>1sdgfasdgasdgag</option>
            </select>
            <label color="primary">Program:</label>
            <md-input type="text" placeholder="Program:"></md-input>
            <label color="primary">Season:</label>
            <md-input type="text"></md-input>

            <label color="primary">Episode:</label>
            <md-input type="text"></md-input>
        </fieldset>
        <button md-icon-button [disableRipple]="true" >
        <i class="material-icons">arrow_drop_down_circle</i>
        </button>
    </md-toolbar-row>
</md-toolbar>
