  .expandedItemContainer{
        position:absolute; 
        width:100%; 
        /*height:100%;*/
        background-color: rgba(245,245,245,0.9);
        /*min-height:1200px;*/
        padding-top:20px;
  } 
 
 .expandedItemContainer > md-card{
    border-radius: 13px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
 }

       
