
<md-card  (mouseenter)='item.MouseOver = true;' (mouseleave)='item.MouseOver = false;' (dblclick)="onDoubleClick(item);" [class.changedCard]="item.Changed"
    [class.notVisible]="!item.Visible">
    <md-card-header>
         <span *ngIf="loading">Loading...</span>
         <img *ngIf="!loading" md-card-avatar [src]="item?.AvatarImg">
          <!--<img  md-card-avatar [src]="item.AvatarImg">-->
      <md-card-title >
       <span (dblclick)="setTitleFieldToEditable(item, $event);" *ngIf="!item.EditField">{{item.Title}}</span> 
       <div (dblclick)="stopPropagation($event)"  *ngIf="item.EditField">
        <md-input [formControl]="titleField"  (onchange)="onInputChanged($event)" type="text" >
          <span  *ngIf="item.Changed" md-suffix><i style="color:#757575;" class="material-icons" >done</i></span>
         </md-input>       
       </div>
      </md-card-title>
      <md-card-subtitle>{{item.Comments }}</md-card-subtitle>
    </md-card-header>
    <md-card-actions>
      <button md-icon-button *ngIf="item?.Changed" (click)="item.Changed=false ">
         <i class="material-icons pink100" >save</i>
      </button>
      <button md-icon-button [class.eyeVisible]="item.MouseOver" [class.eyeNone]="!item.MouseOver" (click)="item.Changed=!item.Changed; item.Visible=!item.Visible; ">
        <i style="color:#BDBDBD;" class="material-icons" *ngIf="item.Visible">visibility_off</i>
        <i  style="color:#757575;" class="material-icons" *ngIf="!item.Visible">visibility</i>
      </button>
    </md-card-actions>
  </md-card>