
.card-container{
    display: flex;
    flex-flow: row wrap;
    top:65px;
    position:absolute;
  }
.fa-container{
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.fa-spinner, .fa-spin {
     color: #F06292;
    font-size: 100px;
}

 expandedItem{
     position:fixed;
     width:100%;
     height:100%;
     overflow-y: scroll;
 }

@media screen and (max-width: 820px) {
    gridItem{
      width:50%;
    }
}
@media screen and (max-width: 560px) {
    gridItem{
      width:97%;    
    }
}