<div class="progressbarContainer">
  <progressbar [animate]='true' class="progress-striped " type='info' [max]='totalItems' [value]="items.length" type="">
    <i>{{items.length}} / {{totalItems}}</i>
  </progressbar>
</div>
<div [dragula]="'cardGrid'" [dragulaModel]='items' class="card-container" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="400"
  (scrolled)="onScroll()">
  <grid-item (doubleClick)="setExpandedItem(item)" *ngFor="let item of items" [item]='item'></grid-item>
  <expanded-item (closeElement)="clearItem($event)" *ngIf="selectedItem" [item]="selectedItem"></expanded-item>
</div>
<div class="fa-container" *ngIf="isLoading">
  <md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
</div>