/*@font-face {
    font-family: roboto;
    src: url('../../fonts/Roboto-Black.ttf');
}*/

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif,'Roboto';
}
button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer{
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

md-sidenav-layout{
height:100%;
min-height: 800px;
}
/** remove when fixed in angular2-material **/
/** The overlay-container is an invisible element which contains all individual overlays. */
.md-overlay-container {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

/** A single overlay pane. */
.md-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000; }

.overall{
  width: 100%;
  height: inherit;
}

.md-input-wrapper{
  line-height: 2em;
}
#centerView{ 
  float:right;
  transition: 0.5s;
}
.centerView-70{
  width:70%;
}
.centerView-90{
  width:90%;
}
.centerView-100{
  width:100%;
}
/*Progress bar start*/
.progressbarContainer{
    width: 100%;
    position: fixed;
    top: 65px;
    z-index: 25;
}
  .progress-bar, .progress-bar[role="progressbar"]{
    background-color: #FCE4EC;
    height: 15px;
    line-height: 15px;
    color:#009688;
}
.progress{
  height: 15px;
  border-radius:0;
}
/*Progress bar end*/

/*Colors start*/
   .material-icons.pink100 { color: #E91E63; }
 /*Colors end*/

/*Dragula start*/
 .gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  border:1px solid #FCE4EC;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.6;
     border:1px solid #E91E63;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
/*Dragula end*/