    <h2>Episode</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let item of listT; let i = index">
            <tr>
                <td>
                    <div [class.visible]="!item.Visible" class="col-sm-2">
                        <form [ngFormModel]="form">
                            <input ngControl="Title" (change)="onInputChange(item)" #Title="ngForm" class="form-control input-sm" type="text" [(ngModel)]="item.GenreName" (input)="onTouched(item);" />
                            <span *ngIf="Title.touched && Title.errors">
                                <p *ngIf="Title.errors.required" class="validator">required</p>
                            </span>
                        </form>
                    </div>
                    <div [class.visible]="item.Visible" class="col-sm-10">
                        {{item.GenreName}}
                    </div>
                </td>
                <td class="pull-right">
                    <icon  [class.visible]="!item.Changed" [icon]="iconAlert"></icon>
                    <crud-btn [class.visible]="!item.Visible" (change)="onBtnConfirmEdit(item)" [btn]="btnConfirmEdit"></crud-btn>
                    <crud-btn (change)="onBtnEdit(item)" [btn]="btnEdit"></crud-btn>
                    <crud-btn (change)="onBtnEdit(item)" [btn]="btnHide"></crud-btn>                    
                </td>
            </tr>
        </tbody>
    </table>
