<div class="card-container">
  <md-card *ngFor="let item of items" (dblclick)="onClick(item);" [class.changedCard]="item.Changed" [class.notVisible]="item.Visible">
    <md-card-header>
      <img md-card-avatar [src]="item.AvatarImg">
      <md-card-title>{{item.Title}}</md-card-title>
      <md-card-subtitle>{{item.Comments }}</md-card-subtitle>
    </md-card-header>
    <md-card-actions>
      <button md-icon-button (click)="item.Visible=!item.Visible" >
        <i class="material-icons" *ngIf="item.Visible">visibility_off</i>
        <i class="material-icons" *ngIf="!item.Visible">visibility</i>
      </button>
      <button md-icon-button [disabled]="!item?.Changed" *ngIf="!item?.Visible" (click)="item.Changed=!item.Changed">
        <md-icon>save</md-icon>
      </button>
    </md-card-actions>
  </md-card>
  <expandedItem (closeElement)="clearItem($event)" *ngIf="selectedItem" style="position:fixed; width:100%;  height:100%;" [item]="selectedItem"></expandedItem>
</div>
