<div class="card-container">
  <md-card *ngFor="let item of items" (mouseenter)='over(item)' (mouseleave)='over(item)' (dblclick)="onClick(item);" [class.changedCard]="item.Changed"
    [class.notVisible]="item.Visible">
    <md-card-header>
      <img md-card-avatar [src]="item.Thumb.GetImages.Thumbnail_109_59">
      <md-card-title >
       <span (dblclick)="setTitleFieldToEditable(item, $event);" *ngIf="!item.EditField">{{item.Title}}</span> 
       <div (dblclick)="stopPropagation($event)"  *ngIf="item.EditField">
        <md-input  (onchange)="onInputChanged($event)" type="text" [(ngModel)]='item.Title' >
          <span  *ngIf="item.Changed" md-suffix><i style="color:#757575;" class="material-icons" >done</i></span>
         </md-input> 
      
       </div>
      </md-card-title>
      <md-card-subtitle>{{item.Comments }}</md-card-subtitle>
    </md-card-header>
    <md-card-actions>
      <button md-icon-button *ngIf="item?.Changed" (click)="item.Changed=true">
         <i class="material-icons pink100" >save</i>
      </button>
      <button md-icon-button [class.eyeVisible]="item.MouseOver" [class.eyeNone]="!item.MouseOver" (click)="item.Visible=!item.Visible; item.Changed=!item.Changed">
        <i style="color:#BDBDBD;" class="material-icons" *ngIf="item.Visible">visibility_off</i>
        <i  style="color:#757575;" class="material-icons" *ngIf="!item.Visible">visibility</i>
      </button>
    </md-card-actions>
  </md-card>
  <expandedItem (closeElement)="clearItem($event)" *ngIf="selectedItem" style="position:fixed; width:100%;  height:100%;" [item]="selectedItem"></expandedItem>
</div>
