<!--<md-list>
  <md-list-item *ngFor="let item of items" (click)="collapse(item)">
    <img md-list-avatar [src]="item.Url" alt="random cat">
    <p md-line class="text-default">{{item.Name}}</p>
    <md-divider></md-divider>
    <div class="md-padding" layout="row" layout-wrap layout-align="center start">
      <div>
        <div [collapse]="item.isCollapsed" class="panel-collapse">
          <expandedItem [item]='item' style="width:1400px;"></expandedItem>
        </div>
      </div>
    </div>
  </md-list-item>
</md-list>-->
<div class="card-container">
  <md-card *ngFor="let item of items" (click)="collapse(item)">
    {{item.Name}}
    <div *ngIf="!item.isCollapsed" class="panel-collapse">
      <expandedItem [item]='item' style="width:800px;"></expandedItem>
    </div>
  </md-card>

</div>