<div class=" overall">
    <div id='leftView' [class.leftView-max]='!isCollapsed' [class.leftView-min]='isCollapsed'>
        <side-nav (sideNavToggle)='isCollapsed=!isCollapsed;' [isCollapsed]="isCollapsed"></side-nav>
    </div>
    <div [class.centerView-min]='!isCollapsed' [class.centerView-max]='isCollapsed' id="centerView">
        <menu-bar [isCollapsed]="isCollapsed" (menuBarToggle)="isCollapsed=!isCollapsed; "></menu-bar>
        <router-outlet></router-outlet>
    </div>
    <expanded-item *ngIf="selectedItem" [item]="selectedItem"></expanded-item>
</div>