<div class=" overall">
    <div id='leftView' [class.leftView-max]='!isCollapsed' [class.leftView-min]='isCollapsed'>
        <sideNav (sideNavToggle)='isCollapsed=!isCollapsed;' [isCollapsed]="isCollapsed"></sideNav>
    </div>
    <div [class.centerView-min]='!isCollapsed' [class.centerView-max]='isCollapsed' id="centerView">
        <menuBar [isCollapsed]="isCollapsed" (menuBarToggle)="isCollapsed=!isCollapsed; "></menuBar>
        <router-outlet></router-outlet>
    </div>
    <expandedItem *ngIf="selectedItem" [item]="selectedItem"></expandedItem>
</div>