<div class=" overall">
    <div id='leftView' [class.leftView-max]='!isCollapsed' [class.leftView-min]='isCollapsed'>
        <side-nav (sideNavToggle)='isCollapsed=!isCollapsed;' [isCollapsed]="isCollapsed"></side-nav>
    </div>
    <div [class.centerView-min]='!isCollapsed' [class.centerView-max]='isCollapsed' id="centerView">
        <vod-controller [isCollapsed]="isCollapsed" (menuBarToggle)="isCollapsed=!isCollapsed;"></vod-controller>
    </div>
      <float-toolbar></float-toolbar>
    <expanded-item *ngIf="selectedItem" [item]="selectedItem"></expanded-item>
</div>