body{
    padding-top: 50px;
}
.navbar {
    border-radius: 0;
}
.mainContainer{
    padding: 15px;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.green{
    color:green;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top: none;
}
.visible{
    display: none;
}
.validator{
    color:red;
    font-size: 10px;
}