<div class="sidenav" [class.sideNavCollapsed]='isCollapsed' [class.sideNavExpanded]='!isCollapsed'>
  <div class="navPilsContainer">
    <ul class="nav nav-pills nav-stacked">
      <li class="sideNavItemHeader" (click)="isListCollapsed = !isListCollapsed">
        <blockquote>
          <p>VOD</p>
        </blockquote>
      </li>
      <li [collapse]="isListCollapsed" class="panel-collapse" *ngFor="let item of items"><a routerLink="./grid"  routerLinkActive="active"> {{ item }} </a></li>
    </ul>
  </div>
  <div>
    <ul class="nav nav-pills nav-stacked">
      <li class="sideNavItemHeader" (click)="isListCollapsed = !isListCollapsed">
        <blockquote>
          <p>Not VOD</p>
        </blockquote>
      </li>
      <li [collapse]="isListCollapsed" class="panel-collapse" *ngFor="let item of items"><a [routerLink]=" ['./detail']"> {{ item }} </a></li>
    </ul>
  </div>
</div>