<div layout="column">
  <md-sidenav-layout>
    <md-sidenav #left (open)="mybutton.focus()" [opened]="true" mode="side" layout-padding class="side container-fluid">
      <md-toolbar>
        <md-toolbar-row>
          <span>side nav</span>
        </md-toolbar-row>
      </md-toolbar>
      <label class="btn btn-primary" (click)="isCollapsed = !isCollapsed" btnCheckbox>Vod</label >
            <div [collapse]="isCollapsed" class="panel-collapse">
                <table class="table table-striped table-hover">
                  <tr *ngFor="let item of items" >
                    <td><md-icon md-list-avatar class="col-md-3">launch</md-icon></td>
                    <td><a [routerLink]=" ['./detail']" > {{ item }} </a></td>
                    <td><button type="button" class="btn btn-primary pull-right">{{item}}</button></td>
                  </tr>
                </table>
                <div class="well well-lg">Feed</div>
            </div>
            <button md-fab #mybutton (click)="left.close()"><md-icon class="md-24" color="warn">close</md-icon></button>
        </md-sidenav>
        <md-content layout-padding>
     <menuBar></menuBar>
   <centerGrid></centerGrid>
   <router-outlet></router-outlet>
            <md-divider></md-divider >
            <button  class="btn btn-info" (click)="left.toggle()" aria-label="left">
              <div *ngIf="left.opened"><span class="glyphicon glyphicon-chevron-left"></span> Hide left bar</div>
               <div *ngIf="!left.opened"><span class="glyphicon glyphicon-chevron-right"></span> Show left bar</div>
            </button>
        </md-content>
    </md-sidenav-layout>
</div>
