<div class="sidenav">
  <div class="navPilsContainer">
    <ul class="nav nav-pills nav-stacked">
      <li class="sideNavItemHeader" (click)="isCollapsed = !isCollapsed">
        <blockquote>
          <p>VOD</p>
        </blockquote>
      </li>
      <li [collapse]="isCollapsed" class="panel-collapse" *ngFor="let item of items"><a [routerLink]=" ['./detail']"> {{ item }} </a></li>
    </ul>
  </div>
  <div>
    <ul class="nav nav-pills nav-stacked">
      <li class="sideNavItemHeader" (click)="isCollapsed = !isCollapsed">
         <blockquote>
          <p>Not VOD</p>
        </blockquote>
      </li>
      <li [collapse]="isCollapsed" class="panel-collapse" *ngFor="let item of items"><a [routerLink]=" ['./detail']"> {{ item }} </a></li>
    </ul>
  </div>
</div>