<div class="sidenav" >
  <div class="closeContainer">
    <i *ngIf='!isCollapsed' (click)="onClose()" class="material-icons menuIcon pink100" style="font-size:36px;">close</i>
  </div>
  <div class="navPilsContainer">
    <ul class="nav nav-pills nav-stacked">
      <li class="sideNavItemHeader" (click)="isListCollapsed = !isListCollapsed">
        <blockquote>
          <p>VOD</p>
        </blockquote>
      </li>
      <li  class="panel-collapse" *ngFor="let item of items"><a [routerLink]='item.path'> {{ item.name }} </a></li>
    </ul>
  </div>
  <div>
    <ul class="nav nav-pills nav-stacked">
      <li class="sideNavItemHeader" (click)="isListCollapsed = !isListCollapsed">
        <blockquote>
          <p>Not VOD</p>
        </blockquote>
      </li>
      <li class="panel-collapse" *ngFor="let item of items"><a [routerLink]=" ['./detail']"> {{ item.name }} </a></li>
    </ul>
  </div>
</div>